<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>news_copy_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>addNewsServlet</servlet-name>
    <servlet-class>com.lovebcub.news.servlet.addNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewsServlet</servlet-name>
    <url-pattern>/addNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doModify</servlet-name>
    <servlet-class>com.lovebcub.news.servlet.doModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doModify</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateNews</servlet-name>
    <servlet-class>com.lovebcub.news.servlet.updateNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateNews</servlet-name>
    <url-pattern>/updateNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteNews</servlet-name>
    <servlet-class>com.lovebcub.news.servlet.deleteNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNews</servlet-name>
    <url-pattern>/deleteNews</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>com.lovebcub.news.filter.characterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.lovebcub.news.entity.User</listener-class>
  </listener>
  <listener>
    <listener-class>com.lovebcub.news.listener.httpSessionListenerDemo</listener-class>
  </listener>
  
  <servlet>
 	<servlet-name>connectionServlet</servlet-name>
 	<servlet-class>com.lovebcub.news.listener.connectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>connectionServlet</servlet-name>
  	<url-pattern>/connectionServlet</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>com.lovebcub.news.listener.servletContextDemo</listener-class>
  </listener>
  
  
  
  
  
  
</web-app>