<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>news_copy_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  <!--添加数据库和显示列表-->
    <servlet-name>addNewsServlet</servlet-name>
    <servlet-class>com.lovebcub.news.servlet.addNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <!--添加数据库和显示列表-->
    <servlet-name>addNewsServlet</servlet-name>
    <url-pattern>/addNewsServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
  <!--修改数据库和显示列表主要跳转-->
    <servlet-name>doModify</servlet-name>
    <servlet-class>com.lovebcub.news.servlet.doModify</servlet-class>
  </servlet>
  <servlet-mapping>
  <!--修改数据库和显示列表主要跳转-->
    <servlet-name>doModify</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
  <!--更新数据库和显示列表次要数据处理并结束跳转-->
    <servlet-name>updateNews</servlet-name>
    <servlet-class>com.lovebcub.news.servlet.updateNews</servlet-class>
  </servlet>
  <servlet-mapping>
  <!--更新数据库和显示列表次要数据处理并结束跳转-->
    <servlet-name>updateNews</servlet-name>
    <url-pattern>/updateNews</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <!--删除数据库和显示列表-->
  	<servlet-name>deleteNews</servlet-name>
  	<servlet-class>com.lovebcub.news.servlet.deleteNews</servlet-class>
  
  
  
  </servlet>
  <servlet-mapping>
  <!--删除数据库和显示列表-->
  	<servlet-name>deleteNews</servlet-name>
  	<url-pattern>/deleteNews</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
</web-app>